.container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 5px;
}

article, section, footer, form, figure{
  grid-column: 2/14;
}
 section, article, footer, form, .gallery {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-gap: 5px;
 }
aside {
  display: flex;
  grid-column: 3/14;
  text-align: right;
  align-content: center;
  margin-left: auto;
  justify-content: space-around;
  h1 {
    margin:15px;
  }
}

 .gallery {
   grid-column: 1/13;
    a {
    grid-column: span 4;
  }
}

 .intro {
   grid-column: 1/13;
 }
//tablet styles
@media (min-width: 340px) {
  
}

//desktop styles
@media (min-width: 1024px) {

}