.container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 5px;
}

article, section, aside, footer, form{
  grid-column: 2/14;
}
// header {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-gap: 5px;
// }

//tablet styles
@media (min-width: 340px) {
  
}

//desktop styles
@media (min-width: 1024px) {

}