.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  grid-gap: 5px;
}

article, section, aside, footer, form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
}
