.container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 5px;
}

article, section, aside, footer, form, figure{
  grid-column: 2/14;
}
 section, article, aside, footer, form {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-gap: 5px;
 }

 .intro {
   grid-column: span 12;
 }
//tablet styles
@media (min-width: 340px) {
  
}

//desktop styles
@media (min-width: 1024px) {

}