.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  grid-gap: 5px;
}

article, section, footer, form, figure {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
}

section.blue-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
}

section.blue-block h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
}

section.blue-block p {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
}

section, article, footer, form, .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-column: 3/14;
  text-align: right;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

aside h1, aside p {
  margin: auto;
}

aside h1 {
  padding-left: 20px;
}

.gallery {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

.gallery a {
  grid-column: span 4;
}

.intro {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}
