html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  grid-gap: 15px;
}

article, section, footer, form, figure {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
}

section.blue-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
}

section.blue-block h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
}

section.blue-block p {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
}

section, article, form, .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-column: 3/14;
  text-align: right;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

aside h1, aside p {
  margin: auto;
}

aside h1 {
  padding-left: 20px;
}

.gallery {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

.gallery a {
  grid-column: span 4;
}

.intro {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

section.blue-bean {
  padding-top: 7vh;
}

section.blue-bean p:nth-child(1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  margin: 10px;
}

section.blue-bean p:nth-child(4) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  margin: 10px;
}

section.blue-bean img:nth-child(2) {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

section.blue-bean img:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
}

section.blue-bean div.call-to-action {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  margin: 10px;
}

body {
  color: #27435E;
  font: 400 0.75em Montserrat, sans-serif;
  max-width: 100%;
}

a {
  text-decoration: none;
}

img {
  border-radius: 15px;
  width: 100%;
}

figure {
  z-index: -1;
  position: relative;
  text-align: center;
  color: #ffffff;
}

figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font: 900 1.2em Montserrat, sans-serif;
}

header {
  display: block;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav img {
  width: 20vw;
  padding: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul a {
  text-decoration: none;
  color: #27435E;
  font-size: 1em;
  padding-left: 10rem;
  white-space: nowrap;
}

.intro {
  background-color: #E5F0F4;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.intro h1 {
  text-align: center;
}

.intro h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 120.5%;
  /* or 14px */
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

section.blue-block {
  background-color: #27435E;
  width: 100%;
  color: #ffffff;
  background: #27435E url("../images/spoon-ends.svg") bottom/90% auto no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10vh;
  padding-bottom: 15vh;
}

section.blue-block h1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px 0px;
}

section.blue-block p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px;
}

section.blue-bean div.call-to-action {
  text-align: center;
  background-color: #27435E;
  border-radius: 15px;
  color: #ffffff;
  padding: 15px;
  margin: 20px;
}

section.blue-bean div.call-to-action h3 {
  margin-bottom: 15px;
}

a.call-to-action {
  font: 900 1.2em Montserrat, sans-serif;
  color: #E18D70;
  border: 3px solid #E18D70;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: url("../images/footer-spoons.svg") bottom/100% auto no-repeat;
}

footer ul li {
  width: 55px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 770px) {
  .line {
    width: 30px;
    height: 3px;
    background: #27435E;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  nav ul {
    position: fixed;
    background: #E5F0F4;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(100px at 110% -20%);
            clip-path: circle(100px at 110% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  nav ul li {
    opacity: 0;
  }
  nav ul li a {
    font-size: 1.5em;
  }
  nav > ul.open {
    -webkit-clip-path: circle(1500px at 110% -20%);
            clip-path: circle(1500px at 110% -20%);
    pointer-events: all;
  }
  nav > ul > li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav > ul > li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  nav > ul > li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}

h1 {
  font: 900 1.2em Montserrat, sans-serif;
}

body {
  counter-reset: my-awesome-counter;
}

article.numbered {
  counter-increment: my-awesome-counter;
}

article.numbered:before {
  content: counter(my-awesome-counter);
  text-shadow: -14px 14px 0px #27435E;
  font: 900 9em Montserrat, sans-serif;
  color: #E18D70;
}

@media (min-width: 1024px) {
  nav {
    height: 20vh;
  }
  nav ul {
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}
