@import "reset", "grid";

$primaryColor: #27435E;
$secondaryColor: #A0D2E3;
$tertiaryColor: #E5F0F4;
$popColor: #E18D70;

$shadow: -14px 14px 0px #27435E;
$Big-font: 900 9em Montserrat, sans-serif;
$header-font: 900 3em Montserrat, sans-serif;
$body-copy: 400 1.5em Montserrat, sans-serif;

body{
    color: $primaryColor;
}

header {
    img{
      grid-column: 1/3;
    }
    nav{
      ul{
        height: 10vh;
        display: flex;
        width: 25%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        list-style: none;
        a {
          text-decoration: none;
          color: black;
          font-size: 18px;
        }
      }
    }

}


h1 {
  font:$header-font;
}

//list for ideas
body {
  counter-reset: my-awesome-counter;
}
article.numbered {
  counter-increment: my-awesome-counter;
}
article.numbered:before {
  content: counter(my-awesome-counter);
  text-shadow: $shadow;
  font: $Big-font;
  color:$popColor;
}

//tablet styles
@media (min-width: 320px) {
  header {
    img{
      grid-column: 1/3;
    }
    nav{
      ul{
        height: 10vh;
        display: flex;
        width: 25%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        list-style: none;
      }
    }

}
  
}

//desktop styles
@media (min-width: 1024px) {

}