@import "reset", "grid";

$primaryColor: #27435E;
$secondaryColor: #A0D2E3;
$tertiaryColor: #E5F0F4;
$popColor: #E18D70;

$shadow: -14px 14px 0px #27435E;
$Big-font: 900 9em Montserrat, sans-serif;
$header-font-desk: 900 3em Montserrat, sans-serif;
$header-font:900 1.5em Montserrat, sans-serif;
$smaller-headers: 400 1em Montserrat, sans-serif;
$body-copy: 400 .75em Montserrat, sans-serif;
// * {
//   max-width:100vw;
// }
body{
    color: $primaryColor;
    font:$body-copy;
    max-width: 100%;
}
a{
  text-decoration: none;
}
img {
  border-radius: 15px;
  width:100%;
}

figure {
  z-index: -1;
  position: relative;
  text-align: center;
  color:#ffffff;
  figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: $header-font;
  }
}

header {
  display: block;
    nav{
      display: flex;
      img{
      width: 20vw;
      padding:15px;
      justify-content: space-around;
      align-items: center;
    }
      ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        a {
          text-decoration: none;
          color: $primaryColor;
          font-size: 1em;
          white-space: nowrap;
        }
      }
    }
}

.intro {
  background-color: $tertiaryColor;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  h1 {
    text-align: center;
  }
  h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 120.5%;
    /* or 14px */
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
  }

}


// backgrounds
body.home {
  background: url('../images/fun-tip.svg') 120% 26%/41% no-repeat, url("../images/orange-spoon-phone.svg") -59px 2%/100% no-repeat, url('../images/light-blue-spoon.svg') -24% 23%/52% no-repeat, url("../images/light-blue-spoon-up.svg") 132% 7%/59% no-repeat, url('../images/light-blue-blob-phone.svg')  62% 79%/128% no-repeat;
}

body.ideas {
  background: url('../images/fun-tip.svg') 120% 33.5%/41% no-repeat, url('../images/blue-blob.svg') 60% 1%/121% no-repeat, url('../images/light-blue-blob-phone.svg') -23% 41%/45% no-repeat, url('../images/dark-blue-spoon.svg') -41% 93%/50% no-repeat, url('../images/orange-blob.svg') 114% 83%/49% no-repeat;
}

section.blue-block {
  background-color: $primaryColor;
  width: 100%;
  color:#ffffff;
  background: $primaryColor url('../images/spoon-ends.svg') bottom/90% auto no-repeat;
  height:fit-content;
  padding-top: 10vh;
  padding-bottom: 15vh;
  h1 {
    height: fit-content;
    margin:20px 0px; 
  }
  p {
    height: fit-content;
    margin:20px; 
  }
}

section.blue-bean {
  div.call-to-action {
    text-align: center;
    background-color: $primaryColor;
    border-radius: 15px;
    color: #ffffff;
    padding:20px 20px 25px 20px;
    margin:20px 20px 30px 20px;
    h3{
      margin-bottom: 15px;
    }
  }
}

a.call-to-action {
  font: $header-font;
  font-size: 1.2em;
  color: $popColor;
  border: 3px solid $popColor;
  border-radius: 5px;
  padding:4px;
  margin:4px;
}

footer {
  background: url('../images/footer-blob.svg') 50% 20%/128% auto no-repeat;
  height: 20vh;
  ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
    li {
      //padding-top: 6vh;
      width: 80px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      display: flex;
      align-items: center;
      a {
        color: $primaryColor;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}


 footer ul.social-media {
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 1%;
   img{
     width: 25px;
   }
 }

li.call-to-action {
  a{
    color: $popColor;
    border-radius: 5px;
    border: 2px solid $popColor;
    padding: 5px;
  }
}

footer {
  li.call-to-action {
    a {
      border: none;
    }
  }
}

a.current {
  border-bottom: 2px solid $primaryColor;
}

//ideas page
.bright-ideas {
  position: relative;
  margin-top: 15%;
  margin-bottom: 15%;
  h1 {
    color: $popColor;
    position: absolute;
    top: -10%;
    line-height: .9;
    font-size: 1.5em;
    span {
      color: $primaryColor;
      padding-left: 30px;
      white-space: nowrap;
    }
  }
  img {
    width: 100%;
  }
  div {
     h3 {
      color: $popColor;
      font: $smaller-headers;
    }
    h2 {
      font-size: 1.2em;
      margin-bottom: 10px;
      color: $tertiaryColor;
    }
    p {
      font: $smaller-headers;
      color: $tertiaryColor;
    }
  }
}

//ideas
body.ideas {
  div.container {
    article:nth-child(2), article:nth-child(5){
      background: linear-gradient(90deg, #ffffff 17%, $tertiaryColor -7%);  
      padding: 20px 10px;
      p, ol, li {
        margin: 10px;
      }
      ol {
        list-style-type: decimal;
        list-style-position: outside;
      }
    }
    article:nth-child(4), article:nth-child(6) {
      padding: 20px 10px;
      p {
        margin: 5px;
      }
    }
  }
}

//form
body.form {
  div.container {
    h1 {
      margin: 5px;
    }
    form {
      margin: 30px 0px 90px;
      label {
        margin: 5px;
      }
      input, textarea {
        background: linear-gradient(180deg, #E5F0F4 0.59%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
        border: 1px solid #27435E;
        box-sizing: border-box;
        border-radius: 5px;
      }
      input {
        height: 32px;
      }
      textarea {
        height: 84px;
      }
      #permission {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkbox {
        background: #FFFFFF;
        border: 1px solid #27435E;
        box-sizing: border-box;
        box-shadow: inset 0px 14px 34px #E5F0F4;
        border-radius: 5px;
        width: 15px;
        height: 15px;
        margin: auto;
      }
      #permission:checked ~ .checkbox {
        background: $tertiaryColor;
      }
      [for=permission] {
        margin: 15px 5px;
        text-align: center;
        vertical-align: middle;
      }
      [type=submit] {
        background: #E18D70;
        border-radius: 5px;
        border: none;
        height: initial;
        padding: 15px;
        color: $primaryColor;
        font: $header-font;
      }
      [type=submit]:hover {
        border: 1px solid $primaryColor;
      }
    }
  }
}

.underlined {
  border-bottom: 2px solid $secondaryColor;
}
//animate svg
#spoonClacking {
  position: absolute;
  top: 232%;
  left: -22%;
}

#top {
  animation: top 1s ease-in-out infinite alternate;
  transform-origin: center;
}
#bottom {
  animation: bottom 1s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes top {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(12%);
  }
}

@keyframes bottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-10%);
  }
}

// responsive nav
@media screen and (max-width: 770px) {
  .line {
    width: 30px;
    height: 3px;
    background: $primaryColor;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index:2;
  }

  nav {
    ul {
      position: fixed;
      background: $tertiaryColor;
      height: 100vh;
      width:100%;
      flex-direction: column;
      clip-path: circle(100px at 110% -20%);
      transition: all 1s ease-out;
      pointer-events: none;
      z-index: 1;
      li{
        opacity:0;
        a {
          font-size: 1.5em;
        }
      }
    }
  }
  nav > ul.open {
    clip-path: circle(1500px at 110% -20%);
    pointer-events: all;
    z-index: 1;
  }

  nav > ul > li:nth-child(1) {
    transition: all 0.5s ease 0.2s
  }
  nav > ul > li:nth-child(2) {
    transition: all 0.5s ease 0.4s
  }
  nav > ul > li:nth-child(3) {
    transition: all 0.5s ease 0.6s
  }

  li.fade {
    opacity:1;
  }

  footer > ul > li {
    transition: all 1s ease;
  }

  .disappear {
    display:none;
  }
}


h1 {
  font:$header-font;
}

//list for ideas
body {
  counter-reset: my-awesome-counter;
}
article.numbered {
  counter-increment: my-awesome-counter;
}
article.numbered:before {
  content: counter(my-awesome-counter);
  text-shadow: $shadow;
  font: $Big-font;
  color:$popColor;
  position: absolute;
  left: 25px;
  z-index: 0;
}


//tablet styles
@media (min-width: 340px) {
  header {
    img{
  
    }
    nav{
      ul{
        // height: 10vh;
        // display: flex;
        // width: 25%;
        // justify-content: space-around;
        // align-items: center;
        // margin-left: auto;
        // list-style: none;
      }
    }

}
  
}

//desktop styles
@media (min-width: 1024px) {
  nav {
    height: 20vh;
    ul {
      height: 100%;
       justify-content: space-around;
        align-items: center;
        margin-left: auto;
      li {
        a {
          padding-left: 10rem;
        }
        
      }
    }
  }

}