html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  grid-gap: 5px;
}

article, section, aside, footer, form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
}

body {
  color: #27435E;
  font: 400 1em Montserrat, sans-serif;
}

img {
  border-radius: 15px;
}

header {
  display: block;
}

header img {
  width: 20vw;
  padding: 5vw;
  float: left;
  clear: both;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  list-style: none;
}

header nav ul a {
  text-decoration: none;
  color: #27435E;
  font-size: 1em;
}

@media screen and (max-width: 770px) {
  .line {
    width: 30px;
    height: 3px;
    background: #27435E;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: -75%;
    -webkit-transform: translate(-5%, 75%);
            transform: translate(-5%, 75%);
    z-index: 2;
  }
  nav ul {
    position: fixed;
    background: #E5F0F4;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(100px at 110% -20%);
            clip-path: circle(100px at 110% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  nav ul li {
    opacity: 0;
  }
  nav ul li a {
    font-size: 1.5em;
  }
  nav > ul.open {
    -webkit-clip-path: circle(1500px at 110% -20%);
            clip-path: circle(1500px at 110% -20%);
    pointer-events: all;
  }
  nav > ul > li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav > ul > li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  nav > ul > li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}

h1 {
  font: 900 1.2em Montserrat, sans-serif;
}

body {
  counter-reset: my-awesome-counter;
}

article.numbered {
  counter-increment: my-awesome-counter;
}

article.numbered:before {
  content: counter(my-awesome-counter);
  text-shadow: -14px 14px 0px #27435E;
  font: 900 9em Montserrat, sans-serif;
  color: #E18D70;
}

.blue-block {
  background-color: #27435E;
  width: 100%;
  color: #ffffff;
  padding: 10vw;
}

@media (min-width: 1024px) {
  nav {
    height: 20vh;
  }
  nav ul {
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}
