html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  grid-gap: 15px;
}

article, section, form, figure {
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-column: 2/14;
}

section.blue-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
}

section.blue-block h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
}

section.blue-block p {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
}

section, article, form, .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-column: 3/14;
  text-align: right;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

aside h1, aside p {
  margin: auto;
}

aside h1 {
  padding-left: 60px;
  padding-right: 15px;
  padding-bottom: 9px;
}

.gallery {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

.gallery a {
  grid-column: span 4;
}

.intro {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

section.blue-bean {
  padding-top: 7vh;
}

section.blue-bean p:nth-child(1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  margin: 10px;
}

section.blue-bean p:nth-child(4) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  margin: 10px;
}

section.blue-bean img:nth-child(2) {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

section.blue-bean img:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
}

section.blue-bean div.call-to-action {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  margin: 10px;
}

.bright-ideas h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
}

.bright-ideas h1 span {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
}

.bright-ideas img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
}

.bright-ideas div {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
}

body.ideas div.container article:nth-child(2) img, body.ideas div.container article:nth-child(5) img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
}

body.ideas div.container article:nth-child(2) h1, body.ideas div.container article:nth-child(2) p, body.ideas div.container article:nth-child(2) ol, body.ideas div.container article:nth-child(5) h1, body.ideas div.container article:nth-child(5) p, body.ideas div.container article:nth-child(5) ol {
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4/13;
}

body.ideas div.container article:nth-child(4) img:nth-child(2), body.ideas div.container article:nth-child(6) img:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2/13;
}

body.ideas div.container article:nth-child(4) img, body.ideas div.container article:nth-child(6) img {
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4/13;
}

body.ideas div.container article:nth-child(4) p, body.ideas div.container article:nth-child(4) h1, body.ideas div.container article:nth-child(6) p, body.ideas div.container article:nth-child(6) h1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4/13;
}

body.form div.container h1 {
  grid-column: 1/-1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body.form div.container form input, body.form div.container form textarea, body.form div.container form label {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
}

body.form div.container form div {
  -ms-grid-column: 2;
  grid-column: 2;
}

body.form div.container form [for=permission] {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3/10;
}

@media screen and (min-width: 750px) {
  .intro {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
  section.blue-block {
    -ms-grid-column: 1;
    -ms-grid-column-span: 14;
    grid-column: 1/15;
  }
  section.blue-block h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  section.blue-block p {
    -ms-grid-column: 5;
    -ms-grid-column-span: 7;
    grid-column: 5/12;
  }
  section.blue-bean {
    padding-top: 7vh;
  }
  section.blue-bean p:nth-child(1) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
    margin: 10px;
  }
  section.blue-bean p:nth-child(4) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7/12;
    margin: 10px;
  }
  section.blue-bean img:nth-child(2) {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  section.blue-bean img:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
  section.blue-bean div.call-to-action {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
    margin: 10px;
  }
  .bright-ideas h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
  .bright-ideas h1 span {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
  .bright-ideas img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
  }
  .bright-ideas div {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10/13;
  }
  body.ideas div.container article:nth-child(2), body.ideas div.container article:nth-child(5) {
    grid-auto-flow: dense;
  }
  body.ideas div.container article:nth-child(2) img, body.ideas div.container article:nth-child(5) img {
    grid-column: 10/-1;
  }
  body.ideas div.container article:nth-child(2) img:last-child, body.ideas div.container article:nth-child(5) img:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  body.ideas div.container article:nth-child(2) p, body.ideas div.container article:nth-child(5) p {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
  }
  body.ideas div.container article:nth-child(2) ol, body.ideas div.container article:nth-child(5) ol {
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6/12;
  }
  body.ideas div.container article:nth-child(4) img:nth-child(2), body.ideas div.container article:nth-child(6) img:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3/11;
  }
  body.ideas div.container article:nth-child(4) img, body.ideas div.container article:nth-child(6) img {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
  }
  body.ideas div.container article:nth-child(4) p, body.ideas div.container article:nth-child(6) p {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3/11;
  }
  body.ideas div.container article:nth-child(4) p.shift, body.ideas div.container article:nth-child(6) p.shift {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
  }
}

body {
  color: #27435E;
  font: 400 0.75em Montserrat, sans-serif;
  max-width: 100%;
}

a {
  text-decoration: none;
}

img {
  border-radius: 15px;
  width: 100%;
}

figure {
  z-index: -1;
  position: relative;
  text-align: center;
  color: #ffffff;
}

figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font: 900 1.5em Montserrat, sans-serif;
}

header {
  display: block;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav img {
  width: 20vw;
  padding: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul a {
  text-decoration: none;
  color: #27435E;
  font-size: 1em;
  white-space: nowrap;
}

.intro {
  background-color: #E5F0F4;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.intro h1 {
  text-align: center;
}

.intro h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 120.5%;
  /* or 14px */
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

body.home {
  background: url("../images/fun-tip.svg") 120% 26%/41% no-repeat, url("../images/orange-spoon-phone.svg") -59px 2%/100% no-repeat, url("../images/light-blue-spoon.svg") -24% 23%/52% no-repeat, url("../images/light-blue-spoon-up.svg") 132% 7%/59% no-repeat, url("../images/light-blue-blob-phone.svg") 62% 79%/128% no-repeat;
}

body.ideas {
  background: url("../images/fun-tip.svg") 120% 33.5%/41% no-repeat, url("../images/blue-blob.svg") 60% 1%/121% no-repeat, url("../images/light-blue-blob-phone.svg") -23% 41%/45% no-repeat, url("../images/dark-blue-spoon.svg") -41% 93%/50% no-repeat, url("../images/orange-blob.svg") 114% 83%/49% no-repeat;
}

body.form {
  background: url("../images/orange-spoon-phone.svg") 222% 26%/69% no-repeat, url("../images/light-blue-blob.svg") 50% 27%/162% no-repeat;
}

section.blue-block {
  background-color: #27435E;
  width: 100%;
  color: #ffffff;
  background: #27435E url("../images/spoon-ends.svg") bottom/90% auto no-repeat;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10vh;
  padding-bottom: 15vh;
}

section.blue-block h1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px 0px;
}

section.blue-block p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px;
}

section.blue-bean div.call-to-action {
  text-align: center;
  background-color: #27435E;
  border-radius: 15px;
  color: #ffffff;
  padding: 20px 20px 25px 20px;
  margin: 20px 20px 30px 20px;
}

section.blue-bean div.call-to-action h3 {
  margin-bottom: 15px;
}

a.call-to-action {
  font: 900 1.5em Montserrat, sans-serif;
  font-size: 1.2em;
  color: #E18D70;
  border: 3px solid #E18D70;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
}

footer {
  background: url("../images/footer-blob.svg") 50% 20%/128% auto no-repeat;
  height: 20vh;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20%;
}

footer ul li {
  width: 80px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li a {
  color: #27435E;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer ul.social-media {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}

footer ul.social-media img {
  width: 25px;
}

li.call-to-action a {
  color: #E18D70;
  border-radius: 5px;
  border: 2px solid #E18D70;
  padding: 5px;
}

footer li.call-to-action a {
  border: none;
}

a.current {
  border-bottom: 2px solid #27435E;
}

.bright-ideas {
  position: relative;
  margin-top: 15%;
  margin-bottom: 15%;
}

.bright-ideas h1 {
  color: #E18D70;
  position: absolute;
  top: -10%;
  line-height: .9;
  font-size: 1.5em;
}

.bright-ideas h1 span {
  color: #27435E;
  padding-left: 30px;
  white-space: nowrap;
}

.bright-ideas img {
  width: 100%;
}

.bright-ideas div h3 {
  color: #E18D70;
  font: 400 1em Montserrat, sans-serif;
}

.bright-ideas div h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #E5F0F4;
}

.bright-ideas div p {
  font: 400 1em Montserrat, sans-serif;
  color: #E5F0F4;
}

body.ideas div.container article:nth-child(2), body.ideas div.container article:nth-child(5) {
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, #ffffff), color-stop(-7%, #E5F0F4));
  background: linear-gradient(90deg, #ffffff 17%, #E5F0F4 -7%);
  padding: 20px 10px;
}

body.ideas div.container article:nth-child(2) p, body.ideas div.container article:nth-child(2) ol, body.ideas div.container article:nth-child(2) li, body.ideas div.container article:nth-child(5) p, body.ideas div.container article:nth-child(5) ol, body.ideas div.container article:nth-child(5) li {
  margin: 10px;
}

body.ideas div.container article:nth-child(2) ol, body.ideas div.container article:nth-child(5) ol {
  list-style-type: decimal;
  list-style-position: outside;
}

body.ideas div.container article:nth-child(4), body.ideas div.container article:nth-child(6) {
  padding: 20px 10px;
}

body.ideas div.container article:nth-child(4) p, body.ideas div.container article:nth-child(6) p {
  margin: 5px;
}

body.form div.container h1 {
  margin: 5px;
}

body.form div.container form {
  margin: 30px 0px 90px;
}

body.form div.container form label {
  margin: 5px;
}

body.form div.container form input, body.form div.container form textarea {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.59%, #E5F0F4), to(rgba(255, 255, 255, 0))), #FFFFFF;
  background: linear-gradient(180deg, #E5F0F4 0.59%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  border: 1px solid #27435E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

body.form div.container form input {
  height: 32px;
}

body.form div.container form textarea {
  height: 84px;
}

body.form div.container form #permission {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

body.form div.container form .checkbox {
  background: #FFFFFF;
  border: 1px solid #27435E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 14px 34px #E5F0F4;
          box-shadow: inset 0px 14px 34px #E5F0F4;
  border-radius: 5px;
  width: 15px;
  height: 15px;
  margin: auto;
}

body.form div.container form #permission:checked ~ .checkbox {
  background: #E5F0F4;
}

body.form div.container form [for=permission] {
  margin: 15px 5px;
  text-align: center;
  vertical-align: middle;
}

body.form div.container form [type=submit] {
  background: #E18D70;
  border-radius: 5px;
  border: none;
  height: initial;
  padding: 15px;
  color: #27435E;
  font: 900 1.5em Montserrat, sans-serif;
}

body.form div.container form [type=submit]:hover {
  border: 1px solid #27435E;
}

.underlined {
  border-bottom: 2px solid #A0D2E3;
}

#spoonClacking {
  position: absolute;
  top: 232%;
  left: -22%;
}

#top {
  -webkit-animation: top 1s ease-in-out infinite alternate;
          animation: top 1s ease-in-out infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#bottom {
  -webkit-animation: bottom 1s ease-in-out infinite alternate;
          animation: bottom 1s ease-in-out infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes top {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(12%);
            transform: translateY(12%);
  }
}

@keyframes top {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(12%);
            transform: translateY(12%);
  }
}

@-webkit-keyframes bottom {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes bottom {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@media screen and (max-width: 750px) {
  .line {
    width: 30px;
    height: 3px;
    background: #27435E;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  nav ul {
    position: fixed;
    background: #E5F0F4;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(100px at 110% -20%);
            clip-path: circle(100px at 110% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 1;
  }
  nav ul li {
    opacity: 0;
  }
  nav ul li a {
    font-size: 1.5em;
  }
  nav > ul.open {
    -webkit-clip-path: circle(1500px at 110% -20%);
            clip-path: circle(1500px at 110% -20%);
    pointer-events: all;
    z-index: 1;
  }
  nav > ul > li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav > ul > li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  nav > ul > li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
  footer > ul > li {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .disappear {
    display: none;
  }
}

h1 {
  font: 900 1.5em Montserrat, sans-serif;
}

body {
  counter-reset: my-awesome-counter;
}

article.numbered {
  counter-increment: my-awesome-counter;
}

article.numbered:before {
  content: counter(my-awesome-counter);
  text-shadow: -14px 14px 0px #27435E;
  font: 900 9em Montserrat, sans-serif;
  color: #E18D70;
  position: absolute;
  left: 25px;
  z-index: 0;
}

@media screen and (min-width: 750px) {
  body {
    font: 400 1.2em Montserrat, sans-serif;
  }
  h1 {
    font: 900 2em Montserrat, sans-serif;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    list-style: none;
  }
  header nav img {
    padding: 30px;
  }
  footer {
    height: auto;
    background: url("../images/footer-blob.svg") 50% 16%/140% auto no-repeat;
  }
  footer ul {
    font: 400 1.2em Montserrat, sans-serif;
  }
  footer ul li {
    width: 150px;
  }
  footer ul.social-media li {
    margin-bottom: 50px;
  }
  footer ul.social-media li a img {
    width: 65px;
  }
  div.intro h1 {
    font: 900 2em Montserrat, sans-serif;
  }
  div.intro h2 {
    font-size: 1.8em;
    line-height: 120.5%;
    text-align: center;
    letter-spacing: 0.2em;
  }
  div.intro p {
    padding: 20px;
  }
  div.gallery a figure figcaption {
    font: 900 2em Montserrat, sans-serif;
  }
  section.blue-block {
    padding-bottom: 25vh;
  }
  section.blue-block h1 {
    margin: 20px 0px;
  }
  section.blue-block p {
    font-weight: 900;
  }
  section.blue-bean p {
    padding: 20px;
  }
  section.blue-bean div.call-to-action {
    padding: 30px 30px 40px 30px;
  }
  a.call-to-action {
    padding: 6px;
    margin: 6px;
  }
  body.home {
    background: url("../images/fun-tip.svg") 124% 27%/41% no-repeat, url("../images/orange-spoon-phone.svg") -152px 6%/81% no-repeat, url("../images/light-blue-spoon-desk.svg") 50% -4%/52% no-repeat, url("../images/dark-blue-spoon.svg") 128% 7%/57% no-repeat, url("../images/light-blue-blob-phone.svg") 56% 78%/120% no-repeat;
  }
  body.ideas {
    background: url("../images/fun-tip.svg") 120% 31%/39% no-repeat, url("../images/blue-blob.svg") 65% 2%/120% no-repeat, url("../images/light-blue-blob-phone.svg") 108% 36%/45% no-repeat, url("../images/dark-blue-spoon.svg") -52% 93%/50% no-repeat, url("../images/orange-blob.svg") 114% 79%/49% no-repeat;
  }
  body.form {
    background: url("../images/orange-spoon-phone.svg") 222% 26%/69% no-repeat, url("../images/light-blue-blob.svg") 50% 27%/162% no-repeat;
  }
  .bright-ideas h1 {
    top: -13%;
    font: 900 2em Montserrat, sans-serif;
  }
  .bright-ideas h1 span {
    padding-left: 50px;
    font-size: .8em;
  }
  .bright-ideas div {
    margin-left: 10px;
  }
  .bright-ideas div h3 {
    color: #E18D70;
    font-size: 1.2em;
  }
  .bright-ideas div h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #E5F0F4;
  }
  body.ideas div.container article:nth-child(2) h1, body.ideas div.container article:nth-child(5) h1 {
    margin: 10px 0px;
  }
  body.ideas div.container article:nth-child(2) p, body.ideas div.container article:nth-child(5) p {
    margin: 30px 5px;
  }
  body.ideas div.container article:nth-child(4) h1, body.ideas div.container article:nth-child(6) h1 {
    margin: 30px 0px;
  }
  body.ideas div.container article:nth-child(4) p, body.ideas div.container article:nth-child(6) p {
    margin: 30px 5px 0px;
  }
  #spoonClacking {
    position: absolute;
    top: 216%;
    left: -23%;
    width: 381px;
    height: 272px;
  }
}

@media (min-width: 1024px) {
  nav {
    height: 20vh;
  }
  nav ul {
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  nav ul li a {
    padding-left: 10rem;
  }
}
