@import 'reset';

// variables
$headerFont: italic 700 3em 'Roboto Condensed', sans-serif;
$bodyCopy: 'Open Sans', sans-serif;

$color1: #5C520D;
$color2: #92831E;
$color3: #AF9E4C;
$color4: #CAB62F;
$color5: #EEDC88;
$black: #2E3135;

.container img {
    width: 100%;
}
body{
    overflow-x: hidden;
    color: $black;
}
// header effect
h1>span, li.cta a{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(#ffffff, #eaeaea, #B4BECA, #eaeaea);
    -webkit-background-clip: text;
    color: transparent;
    font: $headerFont;
    letter-spacing: -1.5px;
    -webkit-text-stroke: 1px #2E3135;
}

li.cta a {
    font-size: 1.7em;
}


//animations
@keyframes dropDown{
    from {
    top: -40%;
  }

  to {
    top: 10%;
  }
}
@keyframes fadeIn { 
  from{ 
       opacity:0 
    } 
  to{
       opacity:1 
    }
}

//grid 
.container, footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
}
#content h1 {
    grid-column: 2/9;
}
#content img.landingimg{
    grid-column: 1/-1;
}
#content {
    h2 {
        grid-column:4/10;
    }
    p {
        grid-column: 8/12;
        padding: 7% 3% 3% 3%;
        line-height: 150%;
    }
    ul {
        grid-column: 2/6;
    }
    img{
        grid-column: 6/12;
    }
}
#content img.left {
    grid-column: 1/8;
    grid-row: span 2;
}
p {
    grid-column: 4/10;;
}


//content
body {
    background: linear-gradient(180deg, #EEDC88 0%, #FFFFFF 100%);
}
p {
    font-size: 1.2em;
    font-family: $bodyCopy;
}
ul li {
    font-size: 1.4em;
    font-family: $bodyCopy;
}
h2 {
    font-size: 1.6em;
    font-family: $bodyCopy;
}
.container img.homelogo {
    width: 25vw;
    position: absolute;
    top: 10%;
    left: 15%;
    animation: dropDown 2s ease-out;
}
#content {
    display: none;
    animation: fadeIn .7s ease;
}

#loader {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    img:nth-child(1){
        margin-left: 10%;
        margin-bottom: -3%;
    }
    img:nth-child(2){
        opacity: 0;
    }
    img:nth-child(3){
        opacity: 0;
    }
}

#myVideo {
  grid-column: 1/-1;
  width: 100vw;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.overlay {
  position: relative;
  grid-column: span 3;
  bottom: 150%;
  left: 37vw;
  backdrop-filter: blur(25px);
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  a {
      text-decoration: none;
  }
  a:visited {
      text-decoration: none;
  }
  h1 {
      text-align: center;
      grid-column: 1/-1 !important;
      font-size: 1.7em;
      span {
          text-align: center;
      }
  }
}


// Mods cards
body.mods {
    perspective: 2000px;
    div.container {
        background: url("../images/red-in-cotton1.png") no-repeat;
        background-size: 100vw;
    }
    h1.headline{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        text-align: center;
        font: $headerFont;
        font-size: 2em;
        grid-column: 5/10;
        color: $black;
    }
}
div.box {
    grid-column: 1/-1;
    display: flex;
  justify-content: center;
  align-items: center;
  margin:5vh 5vw 5vh 10vw;
}
section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  transform-style: preserve-3d;
  background-color: #f0e9cd;
  height: 80vh;
  width: 15rem;
  border-radius: 15px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4), 0px 0px 50px rgba(0, 0, 0, 0.4);
}

.mod {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mod img {
  width: 10rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 12rem;
  height: 12rem;
  background: linear-gradient(
    to right,
    $color1, $color3, $color5
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font: $headerFont;
  transition: all 0.75s ease-out;
  color: $black;
}
.info h3 {
  font-size: 1rem;
  font-family: $bodyCopy;
  padding: 1rem 0rem;
  color: $black;
  opacity: .9;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.download {
  transition: all 0.75s ease-out;
  font: $headerFont;
  margin-bottom: 1rem;
}
.download button {
   width: 100%;
  padding: 1rem 0rem;
  background: $color1;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
button.active {
  background: #585858;
  color: white;
}



// nav
nav {
    transform-origin: 0 bottom;
    transform:rotate(90deg);
    position: absolute;
    top: -12.7%;
    backdrop-filter: blur(10px);
    width: 100vh;
    height: 6vw;
}
nav ul {
    display: flex;
    height: 6vw;
    align-items: center;
    justify-content: flex-end;
}
nav.home ul {
    justify-content: flex-start;
}
nav ul li a {
  color: $black;
  padding: 20px 16px;
  text-decoration: none;
  transform:rotate(180deg);
  font: italic 700 1em 'Roboto Condensed', sans-serif;

}
nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 3%;
    //transform:rotate(180deg);
}
li.cta {
    background-color: $color1;
    width: 20%;
}

/* Change the link color on hover */
li a:hover {
  color: $color1;
}
// footer
footer {
    grid-column: 1/-1;
    height: 60vh;
    background: url('../images/footer1.svg') 0 -20%/100vw no-repeat, url("../images/footer2.svg") 0 -20%/100vw no-repeat;
    >img#giants {
        grid-column: 5/9;
        margin-left: 15%;
        width: 50%;
        margin-top: 25%;
    }
    ul {
        grid-column: 2/5;
        grid-row: span 2;
        display: flex;
        justify-content: space-between;
        width: 3*70px;
        flex-wrap: wrap;
        li {
            
            width: 60px;
            a{
                img {
                    width: 60px;
                }
            }
        }
    }
    p {
        grid-column: 9/12 !important;
        font-size: .9em;
        margin-top: 27%;
        padding: 7% 7% 7% 7%;
    }
}