html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  -webkit-transform-origin: 0 bottom;
          transform-origin: 0 bottom;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: -12.7%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100vh;
  height: 6vw;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav.home ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav ul li a {
  color: #2E3135;
  padding: 20px 16px;
  text-decoration: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font: italic 700 1em 'Roboto Condensed', sans-serif;
}

nav ul li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3%;
}

li.cta {
  background-color: #5C520D;
  width: 20%;
}

/* Change the link color on hover */
li a:hover {
  color: #5C520D;
}

h1 > span, li.cta a {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(#eaeaea), color-stop(#B4BECA), to(#eaeaea));
  background: linear-gradient(#ffffff, #eaeaea, #B4BECA, #eaeaea);
  -webkit-background-clip: text;
  color: transparent;
  font: italic 700 2em "Roboto Condensed", sans-serif;
  letter-spacing: -1.5px;
  -webkit-text-stroke: 1px #2E3135;
}

@-webkit-keyframes dropDown {
  from {
    top: -40%;
  }
  to {
    top: 10%;
  }
}

@keyframes dropDown {
  from {
    top: -40%;
  }
  to {
    top: 10%;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  grid-gap: 15px;
}

#content h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2/9;
}

.left {
  grid-column: -1/8;
}

p {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4/10;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#EEDC88), to(#FFFFFF));
  background: linear-gradient(180deg, #EEDC88 0%, #FFFFFF 100%);
}

img {
  max-width: 100vw;
}

.homelogo {
  width: 25vw;
  position: absolute;
  top: 10%;
  left: 15%;
  -webkit-animation: dropDown 2s ease-out;
          animation: dropDown 2s ease-out;
}

#content {
  display: none;
  -webkit-animation: fadeIn .7s ease;
          animation: fadeIn .7s ease;
}

#loader {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#loader img:nth-child(1) {
  margin-left: 10%;
  margin-bottom: -3%;
}

#loader img:nth-child(2) {
  opacity: 0;
}

#loader img:nth-child(3) {
  opacity: 0;
}
