{{ define "main" }}
{{ $paginator := .Paginator }}
<article class="list">
	<section>
		<h2>Blog</h2>
	</section>
	{{ range $paginator.Pages }}
	<a href="{{ .RelPermalink }}" class="summary">
		<section class="blog">
			{{ if not .Date.IsZero }}
			<time {{ printf `datetime="%s" ` (.Date.Format "2006-01-02T15:04:05Z07:00" ) | safeHTMLAttr }}>
				{{- .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}
			</time>
			{{end}}
			<div>{{ .Render "summary" | truncate 300 }}</div>
			</section>
			{{ end }}
	</a>
	{{ if gt $paginator.TotalPages 1 }}
		{{- template "_internal/pagination.html" . -}}
	{{ end }}
</article>
{{ end }}