{{define "main"}} 
{{ partial "svg" "photos-graphics" }}
<p>I love pictures. Most of these are taken by me or by a person I care about, but all of them make me smile :)</p>
<div class="gallery">
    <img src="../images/me-barn.JPG" alt="" class="short">
    <img src="../images/jakegrad.JPG" alt="" class="tall">
    <img src="../images/moose-sunset.jpg" alt="" class="short">
    <img src="../images/winthrop.JPG" alt="" class="long">
    <img src="../images/narnia.JPG" alt="" class="short">
    <img src="../images/honey.JPG" alt="" class="tall">
    <img src="../images/gradfaucet.JPG" alt="" class="tall">
    <img src="../images/track.JPG" alt="" class="short">
    <img src="../images/hiking-snow.JPG" alt="" class="tall">
    <img src="../images/moose-with-stick.jpg" alt="" class="short">
    <img src="../images/chicken.JPG" alt="" class="short">
    <img src="../images/bella-soccer.JPG" alt="" class="short">
    <img src="../images/mountain.jpg" alt="" class="long">
    <img src="../images/kens-marsh.jpg" alt="" class="short">
    <img src="../images/gradpic-2.jpg" alt="" class="tall">
    <img src="../images/marvin-grad.jpg" alt="" class="tall">
    <img src="../images/bella-em.jpg" alt="" class="long">
    <img src="../images/award-paul.jpg" alt="" class="short">
    <img src="../images/jake-playground.jpg" alt="" class="tall">
</div>
{{end}}