{{define "main"}} 
{{ partial "svg" "photos-graphics" }}
<p>Some of my current favorite pictures I've taken or were taken of me :)</p>
<div class="gallery">
    <img src="../images/me-barn.JPG" alt="" class="short">
    <img src="../images/jakegrad.JPG" alt="" class="tall">
    <img src="../images/moose-sunset.jpg" alt="" class="short">
    <img src="../images/wedding.jpg" alt="" class="tall">
    <img src="../images/vancouver.JPG" alt="" class="short">
    <img src="../images/ball1.jpg" alt="" class="long">
    <img src="../images/zebra.jpg" alt="" class="short">
    <img src="../images/honey.JPG" alt="" class="tall">
    <img src="../images/gradfaucet.JPG" alt="" class="tall">
    <img src="../images/track.JPG" alt="" class="short">
    <img src="../images/magic-kingdom.jpg" alt="" class="tall">
    <img src="../images/flamingo.jpg" alt="" class="short">
    <img src="../images/chicken.JPG" alt="" class="short">
    <img src="../images/monkey.jpg" alt="" class="short">
    <img src="../images/mountain.jpg" alt="" class="long">
    <img src="../images/kens-marsh.jpg" alt="" class="short">
    <img src="../images/gradpic-2.jpg" alt="" class="tall">
    <img src="../images/marvin-grad.jpg" alt="" class="tall">
    <img src="../images/winthrop.JPG" alt="" class="long">
    <img src="../images/award-paul.jpg" alt="" class="short">
    <img src="../images/jake-playground.jpg" alt="" class="tall">
</div>
{{end}}