{{define "main"}}
<section class="project">
    {{ partial "svg" "projects-graphic-2" }}
    {{ partial "svg" "projects-graphic-1" }}
    <div class="phone-background">
        <h2>Physically Based Effects</h2>
        <p>
            At Clemson, I have had the opportunity to learn more technical skills in the production arts including
            volumetric rendering techniques. Updates to this section and additional projects will be added in the near
            future.
        </p>
    </div>
    <div class="portfolio">
        <div class="portfolio-item">
            <a href="{{ `blog/volumetric-rendering-wedges` | relURL }}">
                <img src="../images/0063-wispWedge.jpg" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">Wisp</div>
                </div>
            </a>
        </div>
        <div class="portfolio-item">
            <a href="{{ `blog/volumetric-rendering-wedges` | relURL }}">
                <img src="../images/0136-pyroSphere.jpg" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">Pyroclastic Displacement</div>
                </div>
            </a>
        </div>
        <div class="portfolio-item">
            <a href="{{ `blog/volumetric-rendering-wedges` | relURL }}">
                <img src="../images/0008-wispWedge.jpg" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">Wisp</div>
                </div>
            </a>
        </div>
    </div>
    <div class="phone-background">
        <h2>Mixed Reality</h2>
        <p>
            As part of my graduate certificate in Mixed Reality Engineering, I have taken courses on augmented reality,
            virtual reality, and rapid prototyping of mixed reality applications.
        </p>
    </div>
    <div class="portfolio">
        <div class="portfolio-item">
            <a href="{{ `blog/beamvr` | relURL }}">
                <img src="../images/point_light.png" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">BEAMvr</div>
                </div>
            </a>
        </div>
        <div class="portfolio-item">
            <a href="{{ `blog/poly-lands` | relURL }}">
                <img src="../images/fire_ui.png" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">Poly Lands</div>
                </div>
            </a>
        </div>
        <div class="portfolio-item">
            <a href="{{ `blog/vuforia-demos` | relURL }}">
                <img src="../images/ar-cards.png" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">Vuforia Demos</div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="phone-background">
        <h2>Modeling and Simulation</h2>
        <p>
            My master's in Modeling and Simulation allowed me to develop skills in research design, simulation
            techniques, and human subjects studies.
        </p>
    </div>
    <div class="portfolio">
        <div class="portfolio-item">
            <a href="{{ `blog/modeling-humans` | relURL }}">
                <img src="../images/human-model.png" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">Facilitator Intervention Cognitive Model for Cooperative Activities</div>
                </div>
            </a>
        </div>
        <div class="portfolio-item">
            <a href="{{ `blog/modeling-ports` | relURL }}">
                <img src="../images/teaser-image.PNG" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">Evaluating impact of Berth Crane Capacity and Speed on Port Models</div>
                </div>
            </a>
        </div>

    </div>
    <hr>
    <div class="phone-background">
        <h2>Design Projects</h2>
        <p>
            My undergraduate degree in digital information design provided me with the skills and knowledge to use
            visual communication to communicate ideas and information effectively. This skill set continues to aid me in
            my research despite my departure from website design. This section provides some examples of past design
            projects I have done. The code for most of these examples can be found in the <a
                href="https://github.com/emjapo/emjapo.github.io">GitHub repo for this project</a> in the branches.
        </p>
    </div>
    <div class="portfolio">
        <div class="portfolio-item">
            <a href="{{ `blog/poppins` | relURL }}">
                <img src="../images/poppins.png" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">Typography Site Design</div>
                </div>
            </a>
        </div>
        <div class="portfolio-item">
            <a href="{{ `blog/whisk-it-shoppe` | relURL }}">
                <img src="../images/whiskit.png" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">The Whisk It Shoppe</div>
                </div>
            </a>
        </div>
        <div class="portfolio-item">
            <a href="{{ `blog/spoonful-of-sugar` | relURL }}">
                <img src="../images/spoons.png" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">Object Site Design</div>
                </div>
            </a>
        </div>
        <div class="portfolio-item">
            <a href="{{ `blog/farmingsim` | relURL }}">
                <img src="../images/farmingsim.png" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">Game Site Redesign</div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="phone-background">
        <h2>Code and Contact</h2>
        <p>
            Code examples and projects I am working on can be found on my GitHub at
            <a href="https://github.com/emjapo">emjapo</a>. If you have any questions or would like
            to work with me on a project, contact me at <a href="mailto:eport@clemson.edu">eport@clemson.edu</a>.
        </p>
    </div>
</section>
{{end}}