{{define "main"}} 
    <div>   
        <h2>Typography Site Design</h2>
        <p>For a visual communication class, we were challenged with designing a site around one font and having
            the content about the font. I choose the font Poppins. For the design, I used pop art elements and lots
            of circles to emulate the geometric design of the font.</p>
        <video controls>
            <source src="{{ `videos/poppinsSite.mp4` | relURL}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div>
        <h2>The Whisk It Shoppe</h2>
        <p>The capstone class of the Digital Information Design program combines all four disciplines to create a
            product for a real business. My group's project was to build a site and ordering system for a local
            bakery in Rock Hill, SC. As a web application design person, I was responsible for the backend of the
            site. I created a login flow, set up routing for the menu, made dynamic order forms, and built a cart
            system. The live site can be found at <a
                href="https://www.thewhiskitshoppe.com/">www.thewhiskitshoppe.com</a>.</p>
        <video controls>
            <source src="{{ `videos/whiskitOrdering.mp4` | relURL}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div>
        <h2>Object Site Design</h2>
        <p>For a visual communication class, we were challenged with designing a site around an object and
            targeting a demographic that would be interested in the object. I choose spoons and targeted children
            and parents of young children by making content that would make spoons appealing to them. For the
            design, I kept everything round and fun to make the site feel childlike, inviting, and playful.</p>
        <video controls>
            <source src="{{ `videos/spoonsSite.mp4` | relURL}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div>
        <h2>Game Site Redesign</h2>
        <p>For a visual communication class, we were challenged with redesigning a site for a video game. I choose
            Farming Simulator because I felt the existing site did not fully display the beauty of the game. For the
            design, I featured visuals from the game so that way they were the focus of the site. I also used earthy
            tones and metallic effects to reference the farm and the equipment which is such a large part of the
            game.</p>
        <video controls>
            <source src="{{ `videos/farmingSimSite.mp4` | relURL}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div>
        <h2>Code and Contact</h2>
        <p>Code examples and projects I am working on can be found on my GitHub at <a
                href="https://github.com/emjapo">emjapo</a>. If you have any questions or would like to work with me
            on a project, contact me at emilyport@Knights.ucf.edu.</p>
    </div>
{{end}}