{{define "main"}} {{ partial "svg" "research-graphic-1" }} {{ partial "svg" "research-graphic-2" }}
<section class="phone-background">
	<div>
		<h2>Present</h2>
		<p>
			Currently, I am working on developing a smart room to detect and monitor team processes
			with the use of unobtrusive sensors. My main focus has been on using IR cameras for this
			purpose and exploring other uses of IR in the built environment. Additionally, I work
			with Azure Kinects and various other sensors to maximize our understanding of team
			interactions within the built environment.
		</p>
		<p>
			This project is currently in the data collection phase with plans for secondary
			experiments to be conducted in the future. This research study is being funded by the
			United States Department of Defense.
		</p>
	</div>
	<div>
		<h2>2023</h2>
		<iframe
			title="Measuring the Impact of Indoor Environmental Quality Data on Perceived Comfort"
			src="{{ `pdfs/measuring-IEQ-percieved-comfort.pdf` | relURL}}"
			style="margin-bottom:2%;"
		></iframe>
	</div>
	<div>
		<h2>2021</h2>
		<iframe
			title="research poster"
			src="{{ `pdfs/Port_EnergyandQualityTrade-offs.pdf` | relURL}}"
		></iframe>
		<iframe
			title="research report"
			src="{{ `pdfs/Emily_Port_Report_2021.pdf` | relURL}}"
		></iframe>
	</div>
</section>
{{end}}
