{{define "main"}}
{{ partial "svg" "research-graphic-1" }}
{{ partial "svg" "research-graphic-2" }}
<section class="phone-background">
	<div>
		<h2>Present</h2>
		<p>
			Currently, I am working on accurately identifying aspects of team cognition using
			multimodal data. My main focus is getting 6 FLIR Boson cameras to operate and get
			radiometric data in sync.
		</p>
	</div>
	<div>
		<h2>2021</h2>
		<iframe
			title="research poster"
			src="{{ `pdfs/Port_EnergyandQualityTrade-offs.pdf` | relURL}}"
		></iframe>
		<iframe
			title="research report"
			src="{{ `pdfs/Emily_Port_Report_2021.pdf` | relURL}}"
		></iframe>
	</div>
</section>
{{end}}
