<header>
	<div>
		<h1>I am</h1>
		{{ partial "svg" "Emily-Port"}}
	</div>

	<!-- The overlay -->
	<nav id="myNav" class="header-nav overlay">

		<!-- Button to close the overlay navigation -->
		<a href="javascript:void(0)" class="closebtn btn" onclick="closeNav()">&times;</a>

		<!-- Overlay content -->
		<ul class="overlay-content">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="{{ `projects` | relURL }}">Projects</a>
			</li>
			<li>
				<a href="{{ `research` | relURL }}">Research</a>
			</li>
			<li>
				<a href="{{ `photos` | relURL }}">Photos</a>
			</li>
			<li>
				<a href="{{ `blog` | relURL }}">Blog</a>
			</li>
		</ul>
	</nav>

	<!-- Use any element to open/show the overlay navigation menu -->
	<div class="btn" onclick="openNav()">
		<div class="btn-hamburger"></div>
		<div class="btn-hamburger"></div>
		<div class="btn-hamburger"></div>
	</div>
</header>