{{ define "main"}} {{ partial "svg" "about-graphic-1" }}
<div class="about">
	{{ partial "svg" "about-graphic-2" }}
	<div class="phone-background">
		<h2>About Me</h2>
		<p>
			I am a Ph.D. student advised by
			<a href="https://www.josephkider.com/">Dr. Joe Kider</a> in the
			<a
				href="https://www.clemson.edu/cecas/departments/computing/academics/graduates/degrees/phd-cs.html"
				>Computer Science program at Clemson University</a
			>
			based out of the Charleston Innovation Campus. I completed my
			<a href="https://www.cecs.ucf.edu/smst/programs/masters-degree/"
				>Master's in Modeling and Simulation at the University of Central Florida</a
			>
			also under the mentorship of Dr. Kider. While at UCF, I picked up a graduate certificate
			in
			<a href="https://www.ucf.edu/degree/mixed-reality-engineering-certificate/"
				>Mixed Reality Engineering</a
			>
			to further establish my knowledge of the principles of augmented and virtual reality.
			Additionally, I am an alumni of Winthrop University with a degree in
			<a href="https://www.winthrop.edu/cbt/digitalinformationdesign/degree-information.aspx"
				>Digital Information Design</a
			>
			with a concentration in Web Application Development and minors in Computer Science and
			Outdoor Leadership.
		</p>
		<p>
			My main research interests are in using unobtrusive sensors, especially infrared
			cameras, to better understand human behavior and applying this technology to not only
			real environment scenarios, but also to scenarios utilizing mixed reality. I also have
			broader interests in computer graphics, mixed reality, image processing, and infrared
			imaging.
		</p>
		{{/* Modeling a sim porfolio addition */}} {{/*
		<p>
			I enjoy supporting my modeling and simulation community by going to talks from visiting
			professors, participating in student forums for faculty candidates, and presenting demos
			for visiting researchers. I have also had the opportunity to participate in outreach
			events with local schools that have visited IST and with our local STARBASE Central
			Florida.
		</p>
		*/}}
		<p>
			I am simply on a goal to learn more about the world, myself, and everything in between.
			I have lots of interests, and I love talking about them. If you would like to know more
			about my research, any of the side projects in <a href="/blog/">my blog</a>, or what I'm
			doing on my Stardew Valley farm, you can email me at
			<a href="mailto:eport@clemson.edu">eport@clemson.edu</a>.
		</p>
		<p>
			Code examples and projects I am working on can be found on my GitHub at
			<a href="https://github.com/emjapo">emjapo</a>.
		</p>
	</div>
</div>

<div class="skills">
	<h3>Professional Skills</h3>
	<ul>
		<li>Python</li>
		<li>Infrared Cameras</li>
		<li>Git and Github</li>
		<li>C++</li>
		<li>OpenCV</li>
		<li>R</li>
		<li>Research Design</li>
		<li>Virtual Reality</li>
		<li>Augmented Reality</li>
		<li>JavaScript</li>
		<li>Java</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Adobe Photoshop</li>
		<li>Adobe Illustrator</li>
		<li>Unity</li>
		<li>Figma</li>
		<li>MySQL</li>
		<li>Azure Kinect</li>
		<li>ArcGIS</li>
	</ul>
</div>

<div class="blog-preview">
	<h4>Check out some of the projects from my blog</h4>
	<div class="portfolio-item">
		<a href="{{ `blog/volumetric-rendering-wedges` | relURL }}">
			<img
				src="../images/0063-wispWedge.jpg"
				alt=""
				class="portfolio-image"
			/>
			<div class="portfolio-overlay">
				<div class="text-overlay">Volumetric Rendering Wedges</div>
			</div>
		</a>
	</div>
	<div class="portfolio-item">
            <a href="{{ `blog/beamvr` | relURL }}">
                <img src="../images/point_light.png" alt="" class="portfolio-image" />
                <div class="portfolio-overlay">
                    <div class="text-overlay">BEAMvr</div>
                </div>
            </a>
        </div>
	<div class="portfolio-item">
		<a href="{{ `blog/ir-camera-testing` | relURL }}">
			<img
				src="../images/ircam-setupfar.jpg"
				alt=""
				class="portfolio-image"
			/>
			<div class="portfolio-overlay">
				<div class="text-overlay">IR Camera Testing</div>
			</div>
		</a>
	</div>
	<div class="portfolio-item">
		<a href="{{ `blog/qualtrics-drawing` | relURL }}">
			<img
				src="../images/qualtrics-js.gif"
				alt=""
				class="portfolio-image"
			/>
			<div class="portfolio-overlay">
				<div class="text-overlay">Qualtrics Drawing</div>
			</div>
		</a>
	</div>
	<div class="portfolio-item">
		<a href="{{ `blog/smart-room-viz` | relURL }}">
			<img
				src="../images/time-all-env-session11.png"
				alt=""
				class="portfolio-image"
			/>
			<div class="portfolio-overlay">
				<div class="text-overlay">Smart Room Sensor Visualization</div>
			</div>
		</a>
	</div>
</div>
{{/*
<div class="resume">
	{{ partial "svg" "about-graphic-3" }}
	<div class="phone-background">
		<h2>Resume</h2>
		<div class="researchXP">
			<h3>Research Experience</h3>
			<ul>
				<li>
					Graduate Research Assistant
					<ul>
						<li>
							University of Central Florida Orlando, FL | 8/2022 - Present
							<ul>
								<li>Work in the SENSEable Design Lab</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					Student Developer for IUSE Grant
					<ul>
						<li>
							Winthrop University Rock Hill, SC | 10/2020 - 5/2022
							<ul>
								<li>
									Work with a team from the University of South Florida to build a
									dashboard that connects to their tutoring application
								</li>
								<li>Research frameworks and data visualizations methods</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					Visual Media Research Experience for Undergraduates
					<ul>
						<li>
							Arizona State University Tempe, AZ | 6/2021 - 8/2021
							<ul>
								<li>
									Studied energy and quality trade-offs for augmented reality
									systems
								</li>
								<li>
									Conducted experiments and documented the experience in written
									reports
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="campus">
			<h3>Campus Involvement</h3>
			<ul>
				<li>
					Boot Camp Instructor
					<ul>
						<li>
							Winthrop University Computer Science Dept. Rock Hill, SC | 8/2021 -
							5/2022
							<ul>
								<li>
									Assist students in understanding the concepts of introductory
									computer science classes
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					Peer Mentor
					<ul>
						<li>
							Winthrop University Rock Hill, SC | 4/2021 - 12/2021
							<ul>
								<li>Instruct a class of freshman students</li>
								<li>
									Help students acclimate to the university and locate resources
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					Council Of Student Leaders
					<ul>
						<li>
							Winthrop University Rock Hill, SC | 4/2019 - 5/2022
							<ul>
								<li>POSITIONS HELD: Secretary, Public Relations Chair</li>
								<li>
									Serve on university committees such as the technology ad-hoc
									committees
								</li>
								<li>Create correspondence to communicate with the student body</li>
								<li>
									Act as a voice for the student body and assisted with planning
									events and initiatives to better improve student life
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					Information Service Specialist
					<ul>
						<li>
							Winthrop University DiGiorgio Student Center Rock Hill, SC | 2/2019 -
							8/2021
							<ul>
								<li>
									Provide information and amenities to students and visitors to
									help them utilize campus resources efficiently
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					Web Editor
					<ul>
						<li>
							Winthrop University The Johnsonian Rock Hill, SC | 8/2020 - 5/2021
							<ul>
								<li>Upload content weekly to the newspaper's website</li>
								<li>
									Maintain the frontend issues of the site while helping add new
									features such as a podcast and PDF versions of issues
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="professional">
		<div class="phone-background">
			<h3>Professional Skills</h3>
			<ul>
				<li>Python</li>
				<li>JavaScript</li>
				<li>Node.JS</li>
				<li>WebGL</li>
				<li>HTTP</li>
				<li>C++</li>
				<li>Java</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>Adobe Photoshop</li>
				<li>Adobe Illustrator</li>
				<li>Adobe InDesign</li>
				<li>Unity</li>
				<li>Figma</li>
				<li>MySQL</li>
				<li>OpenCV</li>
				<li>Azure Kinects</li>
				<li>Infrared Cameras</li>
			</ul>
		</div>
		{{ partial "svg" "about-graphic-4" }}
	</div>
</div>
*/}} {{ end}}
