h1, h2, h3 {
    font-family: trapBold;
}
h1 {
 font-size: 5em;
 span {
     font-family: trapLight;
     font-size: .5em;
 }
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 2.5em;
    margin: 5% 0;
}

p {
    margin: 5% 0;
    line-height: 150.2%;
    width: 80%;
}


ul {
    list-style-type: disc;
    li {
        padding-left: 5%;
        margin: 3% 0;
        ul{
            li{
                padding-left: 7%;
            }
        }
    }
}

div.researchXP {
    margin-bottom: 20vh;
}

// SVG animations
@keyframes rotateAround {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0);
    }

}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50px);
    }
}

@keyframes bounceReverse {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(50px);
    }
}

#floatingDots {
    animation: bounce 3s linear infinite alternate-reverse;
}

#slidingBar {
    animation: bounce 3s linear infinite alternate-reverse;
}

#Dots { 
    @for $i from 1 through 72 {
        :nth-child(#{$i}) {
            animation: bounce 2.5s linear (($i/100) * 1s) infinite alternate-reverse;
        }
    }
}

#Dots2 {
    animation: bounceReverse 5s linear infinite alternate-reverse;
}

#rotatingEye {
    transform-origin: center;
    animation: rotateAround 7s alternate-reverse linear infinite;
}

nav {
    margin-bottom: 5%;
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        li{
            margin: 0;
            padding: 3% 0;
            box-sizing: border-box;
            height: 45px;
            a {
                color: black;
                transition: all 0.5s ease
            }
            a:hover {
                color: #FA7E5C;
                font-size: 1.2em;
                transition: all 0.5s ease;
            }
        }
    }
}

.topImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
}

.midImg {
    position: absolute;
    top: 35%;
    left: 5%;
}

.bottomImg {
    position: absolute;
    bottom: 0;
    right: 0;
}