html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: trapLight;
  src: url(../fonts/Trap-Light.ttf);
}

@font-face {
  font-family: trapMedium;
  src: url(../fonts/Trap-Medium.ttf);
}

@font-face {
  font-family: trapRegular;
  src: url(../fonts/Trap-Regular.ttf);
}

@font-face {
  font-family: trapSemi;
  src: url(../fonts/Trap-SemiBold.ttf);
}

@font-face {
  font-family: trapBold;
  src: url(../fonts/Trap-Bold.ttf);
}

@font-face {
  font-family: trapExtra;
  src: url(../fonts/Trap-ExtraBold.ttf);
}

@font-face {
  font-family: trapBlack;
  src: url(../fonts/Trap-Black.ttf);
}

body {
  background-color: #f5f5f5;
  font-family: trapRegular, trap, "Josefin Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  position: relative;
  overflow-x: hidden;
}

#projects, #research, #photos {
  display: none;
}

section, div.resume {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  margin: 0 5%;
}

section.intro {
  padding-top: 10%;
  margin-bottom: 100vh;
}

section.intro nav, section.intro h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

section.intro h1 span {
  display: block;
}

div.resume {
  margin-top: 20vh;
  grid-column: 1/-1;
}

div.resume h2 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
}

div.about, div.researchXP, div.professional {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
}

div.campus {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  margin-bottom: 10%;
  margin-right: 10%;
}

.gallerypics {
  position: absolute;
  top: 0;
  right: 0;
  grid-column: 4/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr 100px 1fr 100px;
      grid-template-columns: 100px 1fr 100px 1fr 100px;
  -ms-grid-rows: (auto)[7];
      grid-template-rows: repeat(7, auto);
  width: 75vw;
  grid-gap: 5px;
  background: url(../imgs/Dots.svg) bottom right/20% no-repeat;
}

.gallerypics figure {
  margin: 0px;
}

.gallerypics figure img {
  width: 100%;
}

#pic1 {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-top: auto;
  margin-left: auto;
}

#pic2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

#pic3 {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-left: auto;
}

#pic4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-left: auto;
}

#pic5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  margin-top: auto;
}

#pic6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-left: auto;
}

#pic7 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

#pic8 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

#pic9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

#pic10 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

#pic11 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

h1, h2, h3 {
  font-family: trapBold;
}

h1 {
  font-size: 5em;
}

h1 span {
  font-family: trapLight;
  font-size: .5em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.5em;
  margin: 5% 0;
}

p {
  margin: 5% 0;
  line-height: 150.2%;
  width: 80%;
}

ul {
  list-style-type: disc;
}

ul li {
  padding-left: 5%;
  margin: 3% 0;
}

ul li ul li {
  padding-left: 7%;
}

li {
  line-height: 150.2%;
}

div.researchXP {
  margin-bottom: 20vh;
}

svg {
  width: 100%;
}

@-webkit-keyframes rotateAround {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotateAround {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@-webkit-keyframes bounceReverse {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes bounceReverse {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

#floatingDots {
  animation: bounce 3s linear infinite alternate-reverse;
}

#slidingBar {
  animation: bounce 3s linear infinite alternate-reverse;
}

#Dots :nth-child(1) {
  animation: bounce 2.5s linear 0.01s infinite alternate-reverse;
}

#Dots :nth-child(2) {
  animation: bounce 2.5s linear 0.02s infinite alternate-reverse;
}

#Dots :nth-child(3) {
  animation: bounce 2.5s linear 0.03s infinite alternate-reverse;
}

#Dots :nth-child(4) {
  animation: bounce 2.5s linear 0.04s infinite alternate-reverse;
}

#Dots :nth-child(5) {
  animation: bounce 2.5s linear 0.05s infinite alternate-reverse;
}

#Dots :nth-child(6) {
  animation: bounce 2.5s linear 0.06s infinite alternate-reverse;
}

#Dots :nth-child(7) {
  animation: bounce 2.5s linear 0.07s infinite alternate-reverse;
}

#Dots :nth-child(8) {
  animation: bounce 2.5s linear 0.08s infinite alternate-reverse;
}

#Dots :nth-child(9) {
  animation: bounce 2.5s linear 0.09s infinite alternate-reverse;
}

#Dots :nth-child(10) {
  animation: bounce 2.5s linear 0.1s infinite alternate-reverse;
}

#Dots :nth-child(11) {
  animation: bounce 2.5s linear 0.11s infinite alternate-reverse;
}

#Dots :nth-child(12) {
  animation: bounce 2.5s linear 0.12s infinite alternate-reverse;
}

#Dots :nth-child(13) {
  animation: bounce 2.5s linear 0.13s infinite alternate-reverse;
}

#Dots :nth-child(14) {
  animation: bounce 2.5s linear 0.14s infinite alternate-reverse;
}

#Dots :nth-child(15) {
  animation: bounce 2.5s linear 0.15s infinite alternate-reverse;
}

#Dots :nth-child(16) {
  animation: bounce 2.5s linear 0.16s infinite alternate-reverse;
}

#Dots :nth-child(17) {
  animation: bounce 2.5s linear 0.17s infinite alternate-reverse;
}

#Dots :nth-child(18) {
  animation: bounce 2.5s linear 0.18s infinite alternate-reverse;
}

#Dots :nth-child(19) {
  animation: bounce 2.5s linear 0.19s infinite alternate-reverse;
}

#Dots :nth-child(20) {
  animation: bounce 2.5s linear 0.2s infinite alternate-reverse;
}

#Dots :nth-child(21) {
  animation: bounce 2.5s linear 0.21s infinite alternate-reverse;
}

#Dots :nth-child(22) {
  animation: bounce 2.5s linear 0.22s infinite alternate-reverse;
}

#Dots :nth-child(23) {
  animation: bounce 2.5s linear 0.23s infinite alternate-reverse;
}

#Dots :nth-child(24) {
  animation: bounce 2.5s linear 0.24s infinite alternate-reverse;
}

#Dots :nth-child(25) {
  animation: bounce 2.5s linear 0.25s infinite alternate-reverse;
}

#Dots :nth-child(26) {
  animation: bounce 2.5s linear 0.26s infinite alternate-reverse;
}

#Dots :nth-child(27) {
  animation: bounce 2.5s linear 0.27s infinite alternate-reverse;
}

#Dots :nth-child(28) {
  animation: bounce 2.5s linear 0.28s infinite alternate-reverse;
}

#Dots :nth-child(29) {
  animation: bounce 2.5s linear 0.29s infinite alternate-reverse;
}

#Dots :nth-child(30) {
  animation: bounce 2.5s linear 0.3s infinite alternate-reverse;
}

#Dots :nth-child(31) {
  animation: bounce 2.5s linear 0.31s infinite alternate-reverse;
}

#Dots :nth-child(32) {
  animation: bounce 2.5s linear 0.32s infinite alternate-reverse;
}

#Dots :nth-child(33) {
  animation: bounce 2.5s linear 0.33s infinite alternate-reverse;
}

#Dots :nth-child(34) {
  animation: bounce 2.5s linear 0.34s infinite alternate-reverse;
}

#Dots :nth-child(35) {
  animation: bounce 2.5s linear 0.35s infinite alternate-reverse;
}

#Dots :nth-child(36) {
  animation: bounce 2.5s linear 0.36s infinite alternate-reverse;
}

#Dots :nth-child(37) {
  animation: bounce 2.5s linear 0.37s infinite alternate-reverse;
}

#Dots :nth-child(38) {
  animation: bounce 2.5s linear 0.38s infinite alternate-reverse;
}

#Dots :nth-child(39) {
  animation: bounce 2.5s linear 0.39s infinite alternate-reverse;
}

#Dots :nth-child(40) {
  animation: bounce 2.5s linear 0.4s infinite alternate-reverse;
}

#Dots :nth-child(41) {
  animation: bounce 2.5s linear 0.41s infinite alternate-reverse;
}

#Dots :nth-child(42) {
  animation: bounce 2.5s linear 0.42s infinite alternate-reverse;
}

#Dots :nth-child(43) {
  animation: bounce 2.5s linear 0.43s infinite alternate-reverse;
}

#Dots :nth-child(44) {
  animation: bounce 2.5s linear 0.44s infinite alternate-reverse;
}

#Dots :nth-child(45) {
  animation: bounce 2.5s linear 0.45s infinite alternate-reverse;
}

#Dots :nth-child(46) {
  animation: bounce 2.5s linear 0.46s infinite alternate-reverse;
}

#Dots :nth-child(47) {
  animation: bounce 2.5s linear 0.47s infinite alternate-reverse;
}

#Dots :nth-child(48) {
  animation: bounce 2.5s linear 0.48s infinite alternate-reverse;
}

#Dots :nth-child(49) {
  animation: bounce 2.5s linear 0.49s infinite alternate-reverse;
}

#Dots :nth-child(50) {
  animation: bounce 2.5s linear 0.5s infinite alternate-reverse;
}

#Dots :nth-child(51) {
  animation: bounce 2.5s linear 0.51s infinite alternate-reverse;
}

#Dots :nth-child(52) {
  animation: bounce 2.5s linear 0.52s infinite alternate-reverse;
}

#Dots :nth-child(53) {
  animation: bounce 2.5s linear 0.53s infinite alternate-reverse;
}

#Dots :nth-child(54) {
  animation: bounce 2.5s linear 0.54s infinite alternate-reverse;
}

#Dots :nth-child(55) {
  animation: bounce 2.5s linear 0.55s infinite alternate-reverse;
}

#Dots :nth-child(56) {
  animation: bounce 2.5s linear 0.56s infinite alternate-reverse;
}

#Dots :nth-child(57) {
  animation: bounce 2.5s linear 0.57s infinite alternate-reverse;
}

#Dots :nth-child(58) {
  animation: bounce 2.5s linear 0.58s infinite alternate-reverse;
}

#Dots :nth-child(59) {
  animation: bounce 2.5s linear 0.59s infinite alternate-reverse;
}

#Dots :nth-child(60) {
  animation: bounce 2.5s linear 0.6s infinite alternate-reverse;
}

#Dots :nth-child(61) {
  animation: bounce 2.5s linear 0.61s infinite alternate-reverse;
}

#Dots :nth-child(62) {
  animation: bounce 2.5s linear 0.62s infinite alternate-reverse;
}

#Dots :nth-child(63) {
  animation: bounce 2.5s linear 0.63s infinite alternate-reverse;
}

#Dots :nth-child(64) {
  animation: bounce 2.5s linear 0.64s infinite alternate-reverse;
}

#Dots :nth-child(65) {
  animation: bounce 2.5s linear 0.65s infinite alternate-reverse;
}

#Dots :nth-child(66) {
  animation: bounce 2.5s linear 0.66s infinite alternate-reverse;
}

#Dots :nth-child(67) {
  animation: bounce 2.5s linear 0.67s infinite alternate-reverse;
}

#Dots :nth-child(68) {
  animation: bounce 2.5s linear 0.68s infinite alternate-reverse;
}

#Dots :nth-child(69) {
  animation: bounce 2.5s linear 0.69s infinite alternate-reverse;
}

#Dots :nth-child(70) {
  animation: bounce 2.5s linear 0.7s infinite alternate-reverse;
}

#Dots :nth-child(71) {
  animation: bounce 2.5s linear 0.71s infinite alternate-reverse;
}

#Dots :nth-child(72) {
  animation: bounce 2.5s linear 0.72s infinite alternate-reverse;
}

#Dots2 {
  animation: bounceReverse 5s linear infinite alternate-reverse;
}

#rotatingEye {
  -webkit-transform-origin: center;
          transform-origin: center;
  animation: rotateAround 7s alternate-reverse linear infinite;
}

nav {
  margin-bottom: 5%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

nav ul li {
  margin: 0;
  padding: 3% 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 45px;
}

nav ul li a {
  color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul li a:hover {
  color: #FA7E5C;
  font-size: 1.2em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

h1:hover {
  color: #FA7E5C;
}

.topImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
}

.midImg {
  position: absolute;
  top: 32%;
  left: 5%;
  width: 40vw;
}

.bottomImg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30vw;
}

div.photos {
  height: 350vh;
  background: url(../imgs/Oreti-reverse.svg) -2% 20%/20% no-repeat;
}

.topDecor {
  position: absolute;
  left: 0;
  top: 15%;
  width: 20vw;
}

.sidewaysDecor {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
}

iframe {
  width: 80vw;
  height: 90vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
}

div#research {
  margin-top: -80vh;
}

div#research h2 {
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
  text-align: center;
}
