@import 'reset';

@font-face {
    font-family: trapLight;
    src: url(../fonts/Trap-Light.ttf);
}

@font-face {
    font-family: trapMedium;
    src: url(../fonts/Trap-Medium.ttf);
}

@font-face {
    font-family: trapRegular;
    src: url(../fonts/Trap-Regular.ttf);
}

@font-face {
    font-family: trapSemi;
    src: url(../fonts/Trap-SemiBold.ttf);
}

@font-face {
    font-family: trapBold;
    src: url(../fonts/Trap-Bold.ttf);
}

@font-face {
    font-family: trapExtra;
    src: url(../fonts/Trap-ExtraBold.ttf);
}

@font-face {
    font-family: trapBlack;
    src: url(../fonts/Trap-Black.ttf);
}

body {
    background-color: #f5f5f5;
    font-family: trapRegular, trap, "Josefin Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    position: relative;
    overflow-x: hidden;
}

#projects, #research, #photos {
    display: none;
}
@import 'style';
@import 'grid';
