html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  grid-gap: 15px;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  grid-auto-flow: dense;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

.sideways img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
}

.sideways div {
  -ms-grid-column: 9;
  -ms-grid-column-span: 5;
  grid-column: 9/14;
}

nav .left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  grid-row: 1/-1;
}

nav .bottom {
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3/13;
  -ms-grid-row: 3;
  grid-row: 3;
}

nav .right {
  grid-column: 13/-1;
  grid-row: 1/-1;
}

nav .top {
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3/13;
  -ms-grid-row: 1;
  grid-row: 1;
}

nav .text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3/13;
  -ms-grid-row: 2;
  grid-row: 2;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

p {
  line-height: 1.6;
}

.block {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section.black, div.black {
  background-color: #000000;
  color: #ffffff;
}

.gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  color: #ffffff;
}

section.green, div.green {
  background-color: #04BF8A;
  color: #ffffff;
}

section.yellow, div.yellow {
  background-color: #F2CF1D;
  color: #ffffff;
}

section.pink, div.pink {
  background-color: #FFB199;
}

.logo {
  margin: 40px;
}

.spin {
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
}

#poppins-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 0.8s ease forwards 3s;
          animation: fill 0.8s ease forwards 3s;
}

#poppins-intro path:nth-child(1) {
  stroke-dasharray: 1005.3284912109375px;
  stroke-dashoffset: 1005.3284912109375px;
  -webkit-animation: line-anim 2s ease forwards 0.3s;
          animation: line-anim 2s ease forwards 0.3s;
}

#poppins-intro path:nth-child(2) {
  stroke-dasharray: 1098.9556884765625px;
  stroke-dashoffset: 1098.9556884765625px;
  -webkit-animation: line-anim 2s ease forwards 0.6s;
          animation: line-anim 2s ease forwards 0.6s;
}

#poppins-intro path:nth-child(3) {
  stroke-dasharray: 1005.3284912109375px;
  stroke-dashoffset: 1005.3284912109375px;
  -webkit-animation: line-anim 2s ease forwards 0.9s;
          animation: line-anim 2s ease forwards 0.9s;
}

#poppins-intro path:nth-child(4) {
  stroke-dasharray: 1005.3284912109375px;
  stroke-dashoffset: 1005.3284912109375px;
  -webkit-animation: line-anim 2s ease forwards 1.2s;
          animation: line-anim 2s ease forwards 1.2s;
}

#poppins-intro path:nth-child(5) {
  stroke-dasharray: 573.193359375px;
  stroke-dashoffset: 573.193359375px;
  -webkit-animation: line-anim 2s ease forwards 1.5s;
          animation: line-anim 2s ease forwards 1.5s;
}

#poppins-intro path:nth-child(6) {
  stroke-dasharray: 1302.8197021484375px;
  stroke-dashoffset: 1302.8197021484375px;
  -webkit-animation: line-anim 2s ease forwards 1.8s;
          animation: line-anim 2s ease forwards 1.8s;
}

#poppins-intro path:nth-child(7) {
  stroke-dasharray: 1166.832275390625;
  stroke-dashoffset: 1166.832275390625;
  -webkit-animation: line-anim 2s ease forwards 2.1s;
          animation: line-anim 2s ease forwards 2.1s;
}

.tagline {
  margin-top: 25%;
  margin-left: 50%;
  font-size: 1.5em;
  opacity: 0;
  -webkit-animation: intro 1s ease forwards 3.2s;
          animation: intro 1s ease forwards 3.2s;
}

h1.gradient {
  font-size: 15em;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffb199), to(#ff0844));
  background: linear-gradient(to top, #ffb199 0%, #ff0844 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

nav .left {
  height: 100vh;
}

nav .left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .left div svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

nav .bottom {
  height: 100%;
}

nav .bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .right {
  height: 100vh;
}

nav .right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .right div svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

nav .top {
  height: 100%;
}

nav .top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .top div svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .text h1 {
  font-weight: 100;
  font-size: 6em;
  margin-top: 7%;
  text-align: center;
}

nav .text h1 span {
  font-weight: 800;
}

nav .text h2 {
  font-size: 1.1em;
  margin: 2% 17% 0% 2%;
}

nav .text h2:nth-child(2) {
  text-align: right;
  color: #F2CF1D;
}

nav .text h2:nth-child(3) {
  text-align: right;
  color: #04BF8A;
}

nav .text h2:nth-child(3) span {
  font-weight: 700;
}

.home {
  background: url("../images/Home.svg") no-repeat center;
  cursor: none;
}

.variety {
  background: url("../images/Variety.svg") no-repeat center;
  cursor: none;
}

.history {
  background: url("../images/History.svg") no-repeat center;
  cursor: none;
}

.inDepth {
  background: url("../images/In-Depth.svg") no-repeat center;
  cursor: none;
}

div.images img {
  max-width: 400px;
}

div.gradient img.spin {
  width: 40%;
  margin-top: -5%;
  margin-left: 5%;
}

p.para1 {
  margin-left: 55%;
  margin-top: 5%;
  width: 35%;
  font-size: 1.3em;
}

.circles {
  width: 50%;
  position: relative;
  top: 30%;
  -webkit-animation: spin 20s linear infinite;
          animation: spin 20s linear infinite;
}

.circles img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pulse path:nth-child(1) {
  -webkit-animation: arrowPulse 5s ease-in-out infinite;
          animation: arrowPulse 5s ease-in-out infinite;
}

.cursor {
  width: 300px;
  height: 100px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.sideways img {
  margin-top: -1vh;
  height: 104vh;
}

.blockText p {
  margin: 10%;
  font-size: 1.3em;
}

.blockText p:first-child {
  margin-top: 15%;
}

.blockText li {
  margin-top: 10%;
  margin-bottom: 10%;
}

.blockText li:nth-child(1) {
  margin-left: 20%;
  color: #18298C;
  font-size: 4em;
  font-weight: 900;
}

.blockText li:nth-child(2) {
  margin-left: 40%;
  color: #04BF8A;
  font-size: 2em;
  font-weight: 100;
}

.blockText li:nth-child(3) {
  margin-left: 60%;
  color: #F2CF1D;
  font-size: 2.5em;
  font-weight: 300;
  font-style: italic;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
}

@-webkit-keyframes intro {
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes arrowPulse {
  0% {
    stroke: #777777;
    stroke-width: 2px;
  }
  50% {
    stroke: #eeeeee;
    stroke-width: 15px;
  }
  100% {
    stroke: #777777;
    stroke-width: 2px;
  }
}

@keyframes arrowPulse {
  0% {
    stroke: #777777;
    stroke-width: 2px;
  }
  50% {
    stroke: #eeeeee;
    stroke-width: 15px;
  }
  100% {
    stroke: #777777;
    stroke-width: 2px;
  }
}

.desktop {
  display: initial;
}

.touch {
  display: none;
}

@media (hover: none) {
  .desktop {
    display: none;
  }
  .touch {
    display: initial;
  }
}
