html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  grid-gap: 15px;
}

body {
  font-family: 'Poppins', sans-serif;
}

.block {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.black {
  background-color: #000000;
  color: #ffffff;
}

.gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  color: #ffffff;
}

.green {
  background-color: #04BF8A;
  color: #ffffff;
}

.yellow {
  background-color: #F2CF1D;
  color: #ffffff;
}

.pink {
  background-color: #FFB199;
}

.logo {
  margin: 40px;
}

.spin {
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
}

#poppins-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 0.8s ease forwards 3s;
          animation: fill 0.8s ease forwards 3s;
}

#poppins-intro path:nth-child(1) {
  stroke-dasharray: 1005.3284912109375px;
  stroke-dashoffset: 1005.3284912109375px;
  -webkit-animation: line-anim 2s ease forwards 0.3s;
          animation: line-anim 2s ease forwards 0.3s;
}

#poppins-intro path:nth-child(2) {
  stroke-dasharray: 1098.9556884765625px;
  stroke-dashoffset: 1098.9556884765625px;
  -webkit-animation: line-anim 2s ease forwards 0.6s;
          animation: line-anim 2s ease forwards 0.6s;
}

#poppins-intro path:nth-child(3) {
  stroke-dasharray: 1005.3284912109375px;
  stroke-dashoffset: 1005.3284912109375px;
  -webkit-animation: line-anim 2s ease forwards 0.9s;
          animation: line-anim 2s ease forwards 0.9s;
}

#poppins-intro path:nth-child(4) {
  stroke-dasharray: 1005.3284912109375px;
  stroke-dashoffset: 1005.3284912109375px;
  -webkit-animation: line-anim 2s ease forwards 1.2s;
          animation: line-anim 2s ease forwards 1.2s;
}

#poppins-intro path:nth-child(5) {
  stroke-dasharray: 573.193359375px;
  stroke-dashoffset: 573.193359375px;
  -webkit-animation: line-anim 2s ease forwards 1.5s;
          animation: line-anim 2s ease forwards 1.5s;
}

#poppins-intro path:nth-child(6) {
  stroke-dasharray: 1302.8197021484375px;
  stroke-dashoffset: 1302.8197021484375px;
  -webkit-animation: line-anim 2s ease forwards 1.8s;
          animation: line-anim 2s ease forwards 1.8s;
}

#poppins-intro path:nth-child(7) {
  stroke-dasharray: 1166.832275390625;
  stroke-dashoffset: 1166.832275390625;
  -webkit-animation: line-anim 2s ease forwards 2.1s;
          animation: line-anim 2s ease forwards 2.1s;
}

.tagline {
  margin-top: 25%;
  margin-left: 50%;
  font-size: 1.5em;
  opacity: 0;
  -webkit-animation: intro 1s ease forwards 3.2s;
          animation: intro 1s ease forwards 3.2s;
}

h1.gradient {
  font-size: 20em;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffb199), to(#ff0844));
  background: linear-gradient(to top, #ffb199 0%, #ff0844 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

nav .left {
  height: 100vh;
  width: 10vw;
}

nav .bottom {
  height: 10%;
  width: 80%;
  float: left;
}

nav .right {
  height: 100vh;
  width: 10vw;
}

nav .top {
  height: 10%;
  width: 80%;
  float: left;
}

.home {
  background: url("../images/Home.svg") no-repeat center;
}

.variety {
  background: url("../images/Variety.svg") no-repeat center;
}

.history {
  background: url("../images/History.svg") no-repeat center;
}

.inDepth {
  background: url("../images/In-Depth.svg") no-repeat center;
}

div.images img {
  max-width: 400px;
}

.circles {
  width: 50%;
  position: relative;
  top: 30%;
  -webkit-animation: spin 20s linear infinite;
          animation: spin 20s linear infinite;
}

.circles img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pulse path:nth-child(1) {
  -webkit-animation: arrowPulse 5s ease-in-out infinite;
          animation: arrowPulse 5s ease-in-out infinite;
}

.cursor {
  width: 300px;
  height: 100px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
}

@-webkit-keyframes intro {
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes arrowPulse {
  0% {
    stroke: #777777;
    stroke-width: 2px;
  }
  50% {
    stroke: #eeeeee;
    stroke-width: 15px;
  }
  100% {
    stroke: #777777;
    stroke-width: 2px;
  }
}

@keyframes arrowPulse {
  0% {
    stroke: #777777;
    stroke-width: 2px;
  }
  50% {
    stroke: #eeeeee;
    stroke-width: 15px;
  }
  100% {
    stroke: #777777;
    stroke-width: 2px;
  }
}
