@import "reset", "grid";

$colorOne: #04BF8A;
$colorTwo: #F2CF1D;
$colorThree: #FFB199;
$colorFour: #F29F05;
$colorFive: #18298C;
$colorGradient: linear-gradient(to top, #ff0844 0%, #ffb199 100%);


// This is not designed in the mobile first format which is the but that is because I intend for my primary audience to view the website on their computers anyway, and therefore I wanted that design to be the most finished

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}
p{
    line-height: 1.6;
}
.block {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section.black, div.black {
    background-color: #000000;
    color: #ffffff;
}
.gradient {
    background-image: $colorGradient;
    color: #ffffff;
}
section.green, div.green {
    background-color: $colorOne;
    color: #ffffff;
}
section.yellow, div.yellow {
    background-color: $colorTwo;
    color: #ffffff;
}
section.pink, div.pink {
    background-color: $colorThree;
}
.logo {
    margin: 40px;
    
}

.spin {
    animation: spin 15s linear infinite;
}

#poppins-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 0.8s ease forwards 3s;
}

#poppins-intro path:nth-child(1) {
    stroke-dasharray: 1005.3284912109375px;
    stroke-dashoffset: 1005.3284912109375px;
    animation: line-anim 2s ease forwards 0.3s;
}
#poppins-intro path:nth-child(2) {
    stroke-dasharray: 1098.9556884765625px;
    stroke-dashoffset: 1098.9556884765625px;
    animation: line-anim 2s ease forwards 0.6s;
}
#poppins-intro path:nth-child(3) {
    stroke-dasharray: 1005.3284912109375px;
    stroke-dashoffset: 1005.3284912109375px;
    animation: line-anim 2s ease forwards 0.9s;
}
#poppins-intro path:nth-child(4) {
    stroke-dasharray: 1005.3284912109375px;
    stroke-dashoffset: 1005.3284912109375px;
    animation: line-anim 2s ease forwards 1.2s;
}
#poppins-intro path:nth-child(5) {
    stroke-dasharray: 573.193359375px;
    stroke-dashoffset: 573.193359375px;
    animation: line-anim 2s ease forwards 1.5s;
}
#poppins-intro path:nth-child(6) {
    stroke-dasharray: 1302.8197021484375px;
    stroke-dashoffset: 1302.8197021484375px;
    animation: line-anim 2s ease forwards 1.8s;
}
#poppins-intro path:nth-child(7) {
    stroke-dasharray: 1166.832275390625;
    stroke-dashoffset: 1166.832275390625;
    animation: line-anim 2s ease forwards 2.1s;
}

.tagline {
    margin-top: 25%;
    margin-left: 50%;
    font-size: 1.5em;
    opacity: 0;
    animation: intro 1s ease forwards 3.2s;
}
 h1.gradient {
     font-size: 15em;
     background: linear-gradient(to top, #ffb199 0%,  #ff0844 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

nav {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;

    .left {
        height: 100vh;
       div {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
             svg {
                transform: rotate(90deg);
            }
        }
    }
    .bottom {
        height: 100%;
        div {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
    }
    .right {
        height: 100vh;
        div {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
             svg {
                transform: rotate(270deg);
            }
        }
    }
    .top {
        height: 100%;
        div {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
             svg {
                transform: rotate(180deg);
            }
        }
    }
    .text {
        h1 {
            font-weight: 100;
            font-size: 6em;
            margin-top: 7%;
            text-align: center;

            span {
                font-weight: 800;
            }
        }
        h2 {
            font-size: 1.1em;
            margin: 2% 17% 0% 2%;
        }
        h2:nth-child(2) {
            text-align: right;
            color: $colorTwo;
        }
        h2:nth-child(3) {
            text-align: right;
            color: $colorOne;
            span {
                font-weight: 700;
            }
        }
    }
}
.home {
    background: url("../images/Home.svg") no-repeat center;
    cursor: none;
}
.variety {
    background: url("../images/Variety.svg") no-repeat center;
    cursor: none;
}
.history {
    background: url("../images/History.svg") no-repeat center;
    cursor: none;
}
.inDepth{
    background: url("../images/In-Depth.svg") no-repeat center;
    cursor: none;
}

div.images img{
    max-width: 400px;
}

div.gradient img.spin {
    width: 40%;
    margin-top: -5%;
    margin-left: 5%;
}

p.para1 {
    margin-left: 55%;
    margin-top: 5%;
    width: 35%;
    font-size: 1.3em;
}

.pulse path:nth-child(1) {
    animation: arrowPulse 5s ease-in-out infinite;
}

.cursor {
    width: 300px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 5;
}

.sideways img {
    margin-top:-1vh;
    height: 104vh;
}

.blockText {
    p {
        margin: 10%;
        font-size: 1.3em;
    }
    p:first-child {
        margin-top: 15%;
    }
    li {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    li:nth-child(1) {
        margin-left: 20%;
        color: $colorFive;
        font-size: 4em;
        font-weight: 900;
    }
    li:nth-child(2) {
        margin-left: 40%;
        color: $colorOne;
        font-size: 2em;
        font-weight: 100;
    }
    li:nth-child(3) {
        margin-left: 60%;
        color: $colorTwo;
        font-size: 2.5em;
        font-weight: 300;
        font-style: italic;
    }
}

.first {
    h1 {
        font-weight: 900;
        font-size: 11em;
        margin-top: -5%;
        text-align: rigth;
    }
}
.circles {
    width: 100%;
    position: relative;
    top:120%;
    animation: spin 20s linear infinite;
    img {
        position: absolute;
        width: 55%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
div.block.yellow {
    h1 {
        font-size: 8em;
        overflow-wrap: break-word;
        margin-top: 3%;
    }
    p {
        width: 40%;
        margin-left: 55%;
        margin-top: -9%;
        font-size: 1.4em;
    }
}
.pile {
    background: url('../images/spikes.svg') 80% -50%/50% no-repeat;
    img:nth-child(1) {
        margin-top: -17.5%;
        margin-left: -5%;
        transform: scale(.75);
    }
     img:nth-child(2) {
        position: relative;
        top: -15%;
        left: 5%;
        transform: scale(.8);
   }
    p {
        margin-top: -68%;
        width: 30%;
        margin-left: 55%;
    }
}
span.green {
    background-color: $colorOne;
}
span.orange {
    background-color: $colorFour;
}
span.blue {
    background-color: $colorFive;
}
span.yellow {
    background-color: $colorTwo;
}
.thin {
 font-weight: 100;
}
.extralight {
font-weight: 200;
}
.light {
font-weight: 300;
}
.regular {
font-weight: 400;
}
.medium {
font-weight: 500;
}
.semibold {
font-weight: 600;
}
.bold {
font-weight: 700;
}
.extrabold {
font-weight: 800;
}
.blackbold {
font-weight: 900;
}
.italic {
    font-style: italic;
}
.panel1, .panel2 {
    font-size: 1.5em;
    animation: marquee 10s linear infinite;
    margin-top: -1%;
}

form {
    padding-top: 10%;
    input {
        background-color: $colorOne;
        border: #ffffff solid 3px;
        width: 100%;
        padding: 24px 40px;
        margin: 4% 0;
        box-sizing: border-box;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5em;
    }
    select {
        background-color: $colorOne;
        border: #ffffff solid 3px;
        width: 100%;
        padding: 24px 40px;
        margin: 8px 0;
        box-sizing: border-box;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5em;
    }
}
#sample {
    color: #ffffff;
    margin: 5%;
    font-size: 1.5em;
    line-height: 1.6;
}

.white {
    h1 {
        color: black;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 4px;
       -webkit-text-stroke-color: black;
    }
}
.depth.first {
    h1 {
        font-size: 10em;
        margin-top: -2.5%;
    }
    img:last-child {
        margin-top: -24%;
        margin-left: 10%;
        width: 90%;
    }
}
.poem {
    grid-auto-flow: dense;
    h1 {
        font-size: 5em;
        text-align: center;
        margin-top: 5%;
    }
    div{
        margin: 4%;
        h2 {
            font-size: 3em;
            font-weight: 800;
            margin: 2% 0%;
        }
        h3 {
            font-size: 1em;
            margin-bottom: 4%;
        }
        p {
            font-style: italic;
            font-size: 1.3em;
            line-height: 1.6;
        }
    }
    img {
        margin: 5% -10% 0% 0%;
    }
}
//animations
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}

 @keyframes spin {
    from {
        transform: rotateZ(360deg);
    }
}
@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #ffffff;
    }
}

@keyframes intro {
    100% {
        opacity: 1;
    }
}

@keyframes arrowPulse {
    0% {
        stroke: #777777;
        stroke-width: 2px;
    }
    50% {
        stroke: #eeeeee;
        stroke-width: 15px;
    }
    100% {
        stroke: #777777;
        stroke-width: 2px;
    }
}

//way to switch the nav out ofr desktop or touch screen
 .desktop {
    display: initial;
}
.touch {
    display: none;
}

@media (hover: none) {
    .desktop {
        display: none;
    }
    .touch {
        display: initial;
    }
}

//tablet styles
@media only screens and (max-width: 1024px) {

}
//mobile styles
@media only screens and (max-width: 500px) {

}