@import "reset";

$colorOne: #04BF8A;
$colorTwo: #F2CF1D;
$colorThree: #FFB199;
$colorFour: #F29F05;
$colorFive: #18298C;
$colorGradient: linear-gradient(to top, #ff0844 0%, #ffb199 100%);

body {
    font-family: 'Poppins', sans-serif;
}
.block {
    width: 100%;
    height: 100vh;
}

.black {
    background-color: #000000;
    color: #ffffff;
}
.gradient {
    background-image: $colorGradient;
    color: #ffffff;
}
.green {
    background-color: $colorOne;
    color: #ffffff;
}
.yellow {
    background-color: $colorTwo;
    color: #ffffff;
}
.pink {
    background-color: $colorThree;
}
.logo {
    margin: 40px;
    
}

.spin {
    animation: spin 8s linear infinite;
}

#poppins-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 0.8s ease forwards 3s;
}

#poppins-intro path:nth-child(1) {
    stroke-dasharray: 1005.3284912109375px;
    stroke-dashoffset: 1005.3284912109375px;
    animation: line-anim 2s ease forwards 0.3s;
}
#poppins-intro path:nth-child(2) {
    stroke-dasharray: 1098.9556884765625px;
    stroke-dashoffset: 1098.9556884765625px;
    animation: line-anim 2s ease forwards 0.6s;
}
#poppins-intro path:nth-child(3) {
    stroke-dasharray: 1005.3284912109375px;
    stroke-dashoffset: 1005.3284912109375px;
    animation: line-anim 2s ease forwards 0.9s;
}
#poppins-intro path:nth-child(4) {
    stroke-dasharray: 1005.3284912109375px;
    stroke-dashoffset: 1005.3284912109375px;
    animation: line-anim 2s ease forwards 1.2s;
}
#poppins-intro path:nth-child(5) {
    stroke-dasharray: 573.193359375px;
    stroke-dashoffset: 573.193359375px;
    animation: line-anim 2s ease forwards 1.5s;
}
#poppins-intro path:nth-child(6) {
    stroke-dasharray: 1302.8197021484375px;
    stroke-dashoffset: 1302.8197021484375px;
    animation: line-anim 2s ease forwards 1.8s;
}
#poppins-intro path:nth-child(7) {
    stroke-dasharray: 1166.832275390625;
    stroke-dashoffset: 1166.832275390625;
    animation: line-anim 2s ease forwards 2.1s;
}

nav {
    width: 100%;
    height: 100vh;
    background-color: #000000;

    .left {
        height: 100vh;
        width: 10vw;
        background-color:brown;
        cursor: url('../images/in-depth.png'), auto;
    }
    .bottom {
        height: 10%;
        width: 80%;
        background-color: aqua;
        float: left;
        cursor: url('../images/History.png'), auto;
    }
    .right {
        height: 100vh;
        width: 10vw;
        background-color: yellow;
        cursor: url('../images/variations.png'), auto;
    }
    .top {
        height: 10%;
        width: 80%;
        background-color: purple;
        float: left;
        cursor: url('../images/home.png'), auto;
    }
}

.circles {
    width: 50%;
    position: relative;
    top:30%;
    animation: spin 20s linear infinite;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}


//animations
 @keyframes spin {
    from {
        transform: rotateZ(360deg);
    }
}
@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #ffffff;
    }
}
